.home-header {
  background-color: #f4f4f4;
  padding: 30px 24px;
  text-align: center;
}

.home-header h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.search-container {
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 25px; /* Membuat sudut menjadi bulat */
  box-sizing: border-box;
  outline: none; /* Menghilangkan outline saat di-klik */
  transition: border-color 0.2s, box-shadow 0.2s;
}

.search-input:focus {
  border-color: #333;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
